body{
  background-image: url('../img/table-felt.jpg');
}

.covered img {
  display: none;
}

.card {
  float: left;
  height:167px;
  width: 120px;
  margin: 5px;
}

.covered {
  background-image: url('../img/card-back.png');
}

.hand {
  overflow: auto;
  float: center;
}

#newgame {
  position: absolute;
  top: 500px;
  width: 100%;
  z-index: 2;
}

#win{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
}

#lose{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
}

#push{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
}


/*#bjChecker{
  position: absolute;
  height: 100%;
  width: 100%;
}*/
