body{
  background-image: url('../img/table-felt.jpg');
}

.covered {
  background-image: url('../img/card-back.png');
}

.card {
  background-image: url();
  float: left;
  border: solid 1px black;
}


.hand {
  overflow: auto;
}

#win {
  position: absolute;
  background-color: red;
  height: 100%;
  width: 100%;
}

#lose {
  position: absolute;
  background-color: blue;
  height: 100%;
  width: 100%;
}
